/buildSrc/.gradle/
/.gradle/
androidApp/build/.gitignore
androidApp/build/generated/res/
androidApp/build/intermediates/incremental/mergeDebugResources/stripped.dir/
androidApp/build/intermediates/incremental/mergeReleaseResources/stripped.dir/
androidApp/build/intermediates/incremental/processDebugResources/
androidApp/build/intermediates/incremental/processReleaseResources/
androidApp/build/intermediates/lint_jar/
androidApp/build/tmp/compileDebugJavaWithJavac/
androidApp/build/tmp/compileReleaseJavaWithJavac/
build/kotlin/
buildSrc/build/kotlin/sessions/
buildSrc/build/pluginDescriptors/
buildSrc/build/source-roots/
domain/build/.transforms/1bd5e4783c6b854a831deabb3c2677bb/
domain/build/.transforms/78a18303f71e76d7fec11df356562f95/
domain/build/generated/ap_generated_sources/
domain/build/generated/res/
domain/build/intermediates/annotations_zip/
domain/build/intermediates/check_manifest_result/
domain/build/intermediates/consumer_proguard_file/
domain/build/intermediates/generated_proguard_file/
domain/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/
domain/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/
domain/build/intermediates/incremental/mergeReleaseResources/stripped.dir/
domain/build/intermediates/incremental/packageDebugResources/merged.dir/
domain/build/intermediates/incremental/packageDebugResources/stripped.dir/
domain/build/intermediates/incremental/packageReleaseResources/merged.dir/
domain/build/intermediates/incremental/packageReleaseResources/stripped.dir/
domain/build/intermediates/incremental/release-mergeJavaRes/zip-cache/
domain/build/intermediates/incremental/release-mergeNativeLibs/zip-cache/
domain/build/intermediates/incremental/verifyReleaseResources/
domain/build/intermediates/intermediate-jars/
domain/build/intermediates/library_and_local_jars_jni/
domain/build/intermediates/library_assets/
domain/build/intermediates/lint_publish_jar/
domain/build/intermediates/merged_jni_libs/
domain/build/intermediates/merged_native_libs/
domain/build/intermediates/merged_shaders/
domain/build/intermediates/packaged-classes/debug/libs/
domain/build/intermediates/packaged-classes/release/libs/
domain/build/intermediates/packaged_res/
domain/build/intermediates/public_res/
domain/build/intermediates/shader_assets/
domain/build/intermediates/stripped_native_libs/
domain/build/kotlin/compileKotlinMetadata/
domain/build/tmp/compileDebugJavaWithJavac/
domain/build/tmp/compileReleaseJavaWithJavac/
build/
