/buildSrc/.gradle/
.gradle/
androidApp/build/.gitignore
androidApp/build/generated/res/
androidApp/build/intermediates/incremental/mergeDebugResources/stripped.dir/
androidApp/build/intermediates/incremental/mergeReleaseResources/stripped.dir/
androidApp/build/intermediates/incremental/processDebugResources/
androidApp/build/intermediates/incremental/processReleaseResources/
androidApp/build/intermediates/lint_jar/
androidApp/build/tmp/compileDebugJavaWithJavac/
androidApp/build/tmp/compileReleaseJavaWithJavac/
build/kotlin/
buildSrc/build/kotlin/sessions/
buildSrc/build/pluginDescriptors/
buildSrc/build/source-roots/
build/
/domain/build/
/build/
androidApp/src/test/
domain/src/androidMain/resources/
domain/src/androidTest/
domain/src/commonMain/resources/
domain/src/commonTest/
domain/src/iosMain/resources/
domain/src/iosTest/
/.idea/
